 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
preprocessing/reduced_dataset

# results files
db
db.zip
models
plots/*
outputs/*
.vscode/*
preprocessing/reduced_dataset_feature_selection
reports/metrics
data/*
data.tar
visualizations/ablation
reports
statistics/*.txt
*.pdf
*.tex
*.tar